.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px #e5e5e5 solid;
  padding: 15px;

  .card-image {
    flex: 1;

    display: flex;
    margin-right: 15px;

    img {
      border-radius: 50%;
      width: 100%;
      margin: auto;
    }
  }

  .card-content {
    flex: 2;

    color: black;

    .title {
      font-weight: 600;
      font-size: 19px;
      color: #101010;
    }

    .subtitle {
      font-weight: 200;
      font-size: 15px;
      color: #333;
    }
  }
}
